.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  display: block;
  text-decoration: none;
  background-size: cover;
  position: relative;
  z-index: 0;
  min-height: 200px;
}

.cover__link::after {
  content: "";
  position: absolute;
  background-color: #2a2c2f;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}
