.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px 0;
}

@media (min-width: 768px) {
  .header {
    padding: 0 24px 0;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 48px 0;
  }
}
