.logo_position_header {
  margin: 16px 0 0;
}

@media (min-width: 768px) {
  .logo_position_header {
    margin-top: 28px;
  }
}

@media (min-width: 768px) {
  .logo_position_header {
    margin-top: 28px;
  }
}
