.places__list-item {
  margin: 50px 0 0;
}

.places__list-item:first-child {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .places__list-item {
    margin-top: 73px;
  }
}

@media (min-width: 1024px) {
  .places__list-item {
    margin-top: 80px;
  }
}
