.footer {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  padding: 64px 16px 24px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 88px 24px 24px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 92px 48px 24px;
  }
}
